@tailwind base;

/* Write your own custom base styles here */

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}

.text-ellipsis {
  height: 5.2rem;
  margin: 0px 0px 1.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(73, 80, 87);
}

.border-bottom:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
